@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Hakkımda Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Hakkımda alanına veri girişini aşağıdaki panelden yapabilirsiniz.</p>
                        <form method="post">
                             <input type="hidden" asp-for="id" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="title" placeholder="Başlığı Girişi Yapınız...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <textarea rows="5" class="form-control" asp-for="description" placeholder="Açıklama Giriniz..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoUrl">Görsel</label>
                                <input type="text" class="form-control" id="exampleInputVideoUrl" asp-for="imageUrl" placeholder="Resim linkini Giriniz...">
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Hakkımda Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

